<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- HTTP Reverse Proxy -->
                <rule name="ReverseProxyHTTP" stopProcessing="true">
                    <match url="(.*)" />

                    <action type="Rewrite" url="http://localhost:8081/{R:1}" />
                </rule>
                
                <!-- WebSocket (WSS) Reverse Proxy -->
                <rule name="ReverseProxyWSS" stopProcessing="true">
                    <match url="^graphql" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_UPGRADE}" pattern="websocket" />
                        <add input="{HTTP_CONNECTION}" pattern="Upgrade" />
                    </conditions>
                    <action type="Rewrite" url="ws://localhost:8081/graphql" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
